html, body{
	margin: 0;
	background-color: #4B3F72;
	color: white;
	font-family: 'Dosis', sans-serif;
	/*font-size: 1.2em;*/
}

img{
	max-width: 100%;
}

.red {
	color: red;
}
.dark-purple{
	color: #1F2041;
}
.purple{
	color: #4B3F72;
}
.yellow{
	color: #FFC857;
}
.aqua{
	color: #19F3FF;
}
.blue{
	color: #2082A3;
}

header{
	min-height: 80px;
	margin: 20px 0;
}

#console{
	background-color: #1F2041;
	border: 5px solid #CEEDDB;
	border-top-width: 25px;
	box-sizing: border-box;
	font-size: 17px;
	padding: 10px;
	height: 400px;
	visibility: hidden;
}

.botao-inscrever{
	margin-top: 100px;
}

.spacer{
	padding-bottom: 5%;
	padding-top: 5%;
}

.materiais{
	background-color: #1F2041;
}

p{
	font-size: 1.3em;
	line-height: 19pt;
}