html, body{
	margin: 0;
	background-color: #4B3F72;
	color: white;
	font-family: 'Dosis', sans-serif;
}

img{
	max-width: 100%;
}

.red {
	color: red;
}
.blue{
	color: blue;
}

header{
	min-height: 80px;
	margin: 20px 0;
}

#console{
	background-color: #1F2041;
	border: 5px solid #CEEDDB;
	border-top-width: 25px;
	box-sizing: border-box;
	font-size: 17px;
	padding: 10px;
	height: 400px;
	visibility: hidden;
}

.botao-inscrever{
	margin-top: 100px;
}

.sec-spacer{
	padding: 5% 0;
}

.materiais{
	background-color: #1F2041;
}